<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD_1wh8pK_0WAK3FVe_tPV9Fv4JudypeR8</string>
	<key>GCM_SENDER_ID</key>
	<string>626780426776</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.scanpay</string>
	<key>PROJECT_ID</key>
	<string>scanpay-e4242</string>
	<key>STORAGE_BUCKET</key>
	<string>scanpay-e4242.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:626780426776:ios:2cdd32f58a7f664a7ba96d</string>
</dict>
</plist>